<div class="fluid-container bg-primary d-flex flex-fill flex-column">
  <mat-toolbar color="primary" class="d-flex justify-content-between flex-row">
    <button mat-icon-button (click)="toggleNavMenu()">
      <mat-icon>{{ isNavMenuHidden ? 'menu' : 'menu_open' }}</mat-icon>
    </button>
    <div>
      <span class="font-monospace mr-2">Application</span>
      <button mat-icon-button (click)="toggleUserMenu()">
        <mat-icon>account_circle</mat-icon>
      </button>
    </div>
  </mat-toolbar>

  <div [hidden]="isNavMenuHidden">
    <mat-action-list class="mb-2 pt-0 px-2">
      <button mat-list-item class="">
        <mat-icon class="mr-2">search</mat-icon>
        Search
      </button>
    </mat-action-list>
  </div>
  <div [hidden]="isUserMenuHidden">
    <mat-action-list class="mb-2 pt-0 px-2">
      <button mat-list-item class="">
        <mat-icon class="mr-2">logout</mat-icon>
        Logout
      </button>
    </mat-action-list>
  </div>

  <div class="container bg-white rounded-top flex-fill p-2">
    <router-outlet></router-outlet>
  </div>
</div>
